In [66]:
import pandas as pd
import re

df = pd.read_csv("lineage_analysis/object_definitions.csv")


def robust_clean_sql(sql_query):
    sql_text = str(sql_query)

    sql_text = sql_text.replace('\\n', '\n').replace('\\t', '\t')

    # Remove single-line comments (-- ...)
    sql_text = re.sub(r'--.*', '', sql_text)
    # Remove multi-line comments (/* ... */)
    sql_text = re.sub(r'/\*.*?\*/', '', sql_text, flags=re.DOTALL)

    # Replace multiple newlines with a single newline
    sql_text = re.sub(r'\n\s*\n', '\n', sql_text)
    # Collapse horizontal spaces (tabs/spaces) into one space
    sql_text = re.sub(r'[ \t]+', ' ', sql_text)
    
    return sql_text.strip()

object_schema = "PR"
object_name = "usp_Fleet_snapshot"
df = df.query(f"Schema == '{object_schema}' and Object == '{object_name}'")
df

,DatabaseName,Schema,Object,ObjectType,definition
169,shell-01-eun-sqdb-cgljxfpzifaquvuwplpe,PR,usp_Fleet_snapshot,SQL_STORED_PROCEDURE,\n\n\nCREATE PROCEDURE [PR].[usp_Fleet_snapsh...

In [84]:
sql_text=robust_clean_sql(df.iloc[0,4])
print(sql_text)

CREATE PROCEDURE [PR].[usp_Fleet_snapshot]
AS
Set Rowcount 0
Set Nocount On
DECLARE @RM date
SELECT @RM = '2021-07-01'
BEGIN
SELECT INC.number
,INC.cmdb_ci
,INC.cmdb_ci_tier
,INC.application_service_id
,INC.business_application_id
,INC.cmdb_ci_business_app
,INC.Business_Application_Status
,INC.short_description
,INC.assigned_to
,INC.caller_id
,INC.caller_id_u_employee_type
,INC.priority
,INC.sys_created_on
,INC.closed_at
,INC.resolved_at
,INC.contact_type
,INC.category
,INC.close_code
,INC.reopen_count
,INC.reassignment_count
,INC.assignment_group
,INC.major_incident_state
,INC.incident_state
,INC.portfolio
,INC.sys_tags
,INCSLA.inc_subcategory
,INCSLA.taskslatable_business_duration
,INCSLA.taskslatable_duration
,INCSLA.taskslatable_business_pause_duration
,INCSLA.taskslatable_pause_duration
,INCSLA.taskslatable_sla
,INCSLA.taskslatable_stage
,INCSLA.taskslatable_start_time
,INCSLA.taskslatable_end_time
,INCSLA.taskslatable_has_breached
,INCSLA.taskslatable_planned_end_time
,INCSLA.dv_inc_hold_reason
,INCSLA.inc_active
,INCSLA.dv_inc_incident_state
,INCSLA.inc_calendar_stc
,INCSLA.inc_calendar_duration
,INCSLA.type
,INCSLA.sla_duration as sla_d
,0 as isHistoric
into #temp3a
FROM
(
SELECT number
,cmdb_ci
,cmdb_ci_tier
,application_service_id
,business_application_id
,cmdb_ci_business_app
,Business_Application_Status
,short_description
,assigned_to
,caller_id
,caller_id_u_employee_type
,priority
,sys_created_on
,closed_at
,resolved_at
,contact_type
,category
,close_code
,reopen_count
,reassignment_count
,assignment_group
,major_incident_state
,incident_state
,portfolio
,sys_tags
FROM [PR].[vw_SNV_incident] (NOLOCK)
WHERE
(
portfolio IN
(
select Name from [PR].[Fleet_Portfolio_CI] where Type = 'Portfolio'
)
OR cmdb_ci IN
(
select Name from [PR].[Fleet_Portfolio_CI] where Type = 'CI'
)
)
AND (sys_created_on >= @RM AND sys_created_on <= EOMONTH(DATEADD(MONTH,-1,GETDATE())))
) INC
LEFT JOIN
(
SELECT DISTINCT inc_number
,business_app_portfolio
,inc_sys_created_on
,inc_closed_at
,inc_close_code
,inc_cmdb_ci
,cmdb_ci_business_app
,business_application_id
,inc_subcategory
,taskslatable_business_duration
,taskslatable_duration
,taskslatable_business_pause_duration
,taskslatable_pause_duration
,taskslatable_sla
,taskslatable_stage
,taskslatable_start_time
,taskslatable_end_time
,taskslatable_has_breached
,taskslatable_planned_end_time
,dv_inc_hold_reason
,inc_active
,dv_inc_incident_state
,inc_calendar_stc
,inc_calendar_duration
,type
,sla_duration
FROM [PR].[vw_SNV_incident_sla] (NOLOCK)
WHERE
(
business_app_portfolio IN
(
select Name from [PR].[Fleet_Portfolio_CI] where Type = 'Portfolio'
)
OR inc_cmdb_ci IN
(
select Name from [PR].[Fleet_Portfolio_CI] where Type = 'CI'
)
)
AND (inc_sys_created_on >= @RM AND inc_sys_created_on <= EOMONTH(DATEADD(MONTH,-1,GETDATE())))
AND SLA_target = 'Resolution'
AND taskslatable_stage <> 'Cancelled'
) INCSLA ON INC.number = INCSLA.inc_number
select * ,
ROW_NUMBER() OVER (
 PARTITION BY Number
 ORDER BY (CASE WHEN taskslatable_sla like '%FLeet%' THEN 2 WHEN [type] = 'SLA' THEN 1 ELSE 0 END) DESC, taskslatable_end_time DESC
 ) row_num
 into #temp3b
from #temp3a
select * into #temp3
from #temp3b where row_num = 1
 DELETE from [PR].[Fleet_incident_snapshot] where [Reporting Month] = EOMONTH(getdate(),-1)
 INSERT INTO [PR].[Fleet_incident_snapshot]
 (
[Number],
 [Configuration item],
 [Tier],
 [Application Service ID],
 [Business Application ID],
 [Business Application Name],
 Portfolio,
 [Short description],
 [Assigned to],
 [Caller],
 [Employee type],
 [Priority],
 [Created],
 [Closed],
 [Resolved],
 [Contact type],
 [Category],
 [Subcategory],
 [Resolution code],
 [Start time],
 [Resolve time],
 [Breach time],
 [Business elapsed time],
 [Actual elapsed time],
 [Pause duration],
 [Business pause duration],
 [Reopen count],
 [Reassignment count],
 [Has breached],
 [Assignment group],
 [SLA definition],
 [Major incident state],
 [Incident state],
 [Duration],
 [Active],
 [On hold reason],
 [isHistoric],
 [End time],
 Contract_Type,
 SLA_Duration,
 Tags,
 [Business Application Status]
 )
 SELECT
number,
 cmdb_ci,
 cmdb_ci_tier,
 Application_Service_ID,
 Business_Application_ID,
 cmdb_ci_business_app,
 portfolio,
 short_description,
 assigned_to,
 caller_id,
 Caller_ID_u_employee_type,
 priority,
 sys_created_on,
 closed_at,
 resolved_at,
 contact_type,
 category,
 inc_subcategory,
 close_code,
 taskslatable_start_time,
 inc_calendar_stc,
 taskslatable_planned_end_time,
 taskslatable_business_duration,
 taskslatable_duration,
 taskslatable_pause_duration,
 taskslatable_business_pause_duration,
 reopen_count,
 reassignment_count,
 case when taskslatable_has_breached = '0' then 'false' else 'true' end,
 assignment_group,
 taskslatable_sla,
 major_incident_state,
 dv_inc_incident_state,
 inc_calendar_duration,
 case when inc_active = '0' then 'false' else 'true' end,
 dv_inc_hold_reason,
0,
 taskslatable_end_time,
 type,
 sla_d,
sys_tags,
 Business_Application_Status
 FROM #temp3
END

In [85]:
prompt = f"""
You are a SQL data lineage extractor specializing in T-SQL stored procedures.

OBJECTIVE:
Extract DIRECT source-to-target mappings between PERSISTENT database objects ONLY.
Trace data flow through ALL intermediate steps (temp tables, CTEs, subqueries) but report only the FINAL persistent objects.

OBJECT CLASSIFICATION:

PERSISTENT OBJECTS (Report these):
- Tables: schema.table, [schema].[table], database.schema.table
- Views: schema.view, [schema].[view]
- Stored procedures (when used as data sources via EXEC INSERT)

INTERMEDIATE OBJECTS (Trace through, but DO NOT report):
- Temp tables: #temp, ##global_temp
- Table variables: @table
- CTEs: WITH cte_name AS (...)
- Subqueries and derived tables
- Variables: @variable

EXTRACTION RULES:

1. TRACE THROUGH INTERMEDIATES:
   - If temp table #T is populated from table A, then #T is inserted into table B
   - Report: A → B (not A → #T or #T → B)

2. HANDLE MULTI-STEP FLOWS:
   - Step 1: A → #temp1
   - Step 2: #temp1 → #temp2  
   - Step 3: #temp2 → B
   - Report: A → B

3. MULTIPLE SOURCES TO ONE TARGET:
   - Create separate lineage entries for each source
   - Example: A → C, B → C (two separate JSON objects)

4. ONE SOURCE TO MULTIPLE TARGETS:
   - Create separate lineage entries for each target
   - Example: A → X, A → Y (two separate JSON objects)

5. COMPLEX QUERIES:
   - Trace through all JOINs, subqueries, CTEs
   - Extract base tables from nested SELECT statements
   - Follow data flow through UNION, EXCEPT, INTERSECT operations

6. IGNORE:
   - Table hints: (NOLOCK), WITH (NOLOCK), (INDEX=...), etc.
   - System tables/views unless explicitly part of business logic
   - The stored procedure name itself as a source

7. DELETE/TRUNCATE OPERATIONS:
   - These affect targets but have no sources
   - Omit from lineage (or include with "source": null if you need to track modifications)

8. EXEC STORED PROCEDURES:
   - If "INSERT INTO table EXEC stored_proc", treat stored_proc as a source
   - Otherwise, you may need to trace into that procedure separately

OUTPUT FORMAT:

{{
  "lineage": [
    {{
      "source": "schema.table_name",
      "target": "schema.table_name"
    }}
  ]
}}

RULES ENFORCEMENT:
✓ Output ONLY valid JSON
✓ No explanations, comments, or markdown
✓ No temp tables (#temp) in final output
✓ No CTEs or table variables in final output
✓ Each lineage pair must have exactly one source and one target
✓ Use fully qualified names when available (schema.table)
✓ Remove all table hints from object names

EXAMPLE:

Given SQL:
```sql
-- Step 1: Read from A, B into temp
SELECT * INTO #temp FROM A JOIN B ON A.id = B.id

-- Step 2: Read from #temp and C into final table
INSERT INTO Z 
SELECT * FROM #temp JOIN C ON #temp.id = C.id
```

Correct output:
{{
  "lineage": [
    {{"source": "A", "target": "Z"}},
    {{"source": "B", "target": "Z"}},
    {{"source": "C", "target": "Z"}}
  ]
}}

Incorrect output (DO NOT DO THIS):
{{
  "lineage": [
    {{"source": "A", "target": "#temp"}},
    {{"source": "B", "target": "#temp"}},
    {{"source": "#temp", "target": "Z"}},
    {{"source": "C", "target": "Z"}}
  ]
}}

SQL TO ANALYZE:
{sql_text}
"""

In [88]:
import ollama
import json

MODEL_NAME = "qwen2.5-coder:7b"
result= ollama.generate(model=MODEL_NAME,
prompt= prompt,
format="json"
)

lineage_json = json.loads(result["response"])
print(json.dumps(lineage_json, indent=4))

{
    "lineage": [
        {
            "source": "[PR].[vw_SNV_incident]",
            "target": "#temp3a"
        },
        {
            "source": "[PR].[vw_SNV_incident_sla]",
            "target": "#temp3a"
        },
        {
            "source": "#temp3a",
            "target": "#temp3b"
        },
        {
            "source": "#temp3b",
            "target": "#temp3"
        },
        {
            "source": "[PR].[Fleet_incident_snapshot]",
            "target": null
        }
    ]
}

In [87]:
print(json.dumps(lineage_json, indent=4))

{
    "lineage": [
        {
            "source": "[PR].[vw_SNV_incident]",
            "target": "#temp3a"
        },
        {
            "source": "[PR].[vw_SNV_incident_sla]",
            "target": "#temp3a"
        },
        {
            "source": "#temp3a",
            "target": "#temp3b"
        },
        {
            "source": "#temp3b",
            "target": "#temp3"
        },
        {
            "source": null,
            "target": "[PR].[Fleet_incident_snapshot]"
        }
    ]
}